<div class="flex flex-col gap-2 items-start">
  <table mat-table [dataSource]="items">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let item">{{ item.id }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let item">{{ item.name }}</td>
    </ng-container>
    <ng-container matColumnDef="dimensions">
      <th mat-header-cell *matHeaderCellDef>Dimensions</th>
      <td mat-cell *matCellDef="let item">{{ item.dimensions }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let item">
        <button mat-button color="primary" (click)="handleEditItem(item)">
          <mat-icon class="text-base">edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="handleDeleteItem(item)">
          <mat-icon class="text-base">delete</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <button class="text-blue-400" (click)="handleCreateNewRobotType()">
    Create New Robot Type
  </button>
</div>
