<div class="flex flex-col gap-4">
  <div class="text-lg font-semibold">Create Robot</div>
  <form
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
    class="flex flex-col gap-2"
  >
    <div class="flex flex-col">
      <label for="name" class="text-sm">Name</label>
      <input
        rm-text-input
        type="text"
        id="name"
        formControlName="name"
        [isError]="isError('name')"
        autocomplete="off"
      />
    </div>
    <div class="flex flex-col">
      <label for="robotTypeId" class="text-sm">Robot Type</label>
      <select
        rm-select
        type="text"
        id="robotTypeId"
        formControlName="robotTypeId"
        [isError]="isError('robotTypeId')"
        autocomplete="off"
      >
        @for (item of robotTypes$ | async; track item.id; let first = $first) {
          <option value="{{ item.id }}">{{ item.name }}</option>
        }
      </select>
    </div>
    <button
      rm-button
      class="text-blue-400 border-blue-400"
      [disabled]="form.invalid"
      type="submit"
    >
      Create
    </button>
  </form>
</div>
